/* Input area (top) */
.chat-input-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

/* Input box */
.input-text {
    flex: 1;
    max-width: 600px;
    padding: 12px 18px;
    border-radius: 12px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

/* Send button */
.send-button {
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

.send-button:hover {
    opacity: 0.9;
}

.clear-button{
    background-color: #e6e6e6;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}